.guess10-container {
  display: flex;
}
.question-container {
  flex: 1;
}
.answers-container {
  flex: 1;
  padding: 20px;
  background-color: #171717;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
