.guess10-container {
  display: flex;
}
.question-container {
  flex: 1;
}
.answers-container {
  flex: 1;
  padding: 20px;
  background-color: #171717;
}
.footer {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 300px;
  font-size: medium;
}
@media (max-width: 480px) {
  .answers-container {
    order: 2;
  }

  .show-answers-container {
    order: 3;
  }
}
