.guess10-container {
  display: flex;
}
.question-container {
  flex: 1;
}
.answers-container {
  flex: 1;
  padding: 20px;
  background-color: #171717;
}
.footer {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 500px;
  font-size: medium;
}
.mobile-layout {
  position: absolute;
  margin-top: 550px;
}
